<ion-app>
    <ion-content>
        <ion-accordion-group class="ion-margin">
            <ion-accordion value="colors">
                <ion-item slot="header">
                    <ion-label>
                        <h1>Open me</h1>
                    </ion-label>
                </ion-item>

                <div slot="content">
                    <ion-item fill="solid">
                        <ion-label position="stacked">
                            Input WITHOUT bottom border
                        </ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </div>
            </ion-accordion>
        </ion-accordion-group>
        <ion-item fill="solid" class="ion-margin">
            <ion-label position="stacked">
                Input with bottom border
            </ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-accordion-group mode="ios" class="ion-margin">
            <ion-accordion value="colors">
                <ion-item slot="header">
                    <ion-label>
                        <h1>Open me</h1>
                    </ion-label>
                </ion-item>

                <div slot="content">
                    <ion-item fill="solid">
                        <ion-label position="stacked">
                            Input
                        </ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </div>
            </ion-accordion>
        </ion-accordion-group>
        <ion-item mode="ios" fill="solid" class="ion-margin">
            <ion-label position="stacked">
                Input
            </ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-content>
    
</ion-app>